.about-card .about-card-container {
  width: 90%;
  max-width: 375px;
  margin: 2.5rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.about-card {
  padding: 4rem 0rem 1rem 0rem;
}

.about-card:nth-child(3) {
  background-color: var(--Very-Pale-Blue);
}
.about-card:nth-child(9) {
  background-color: var(--Very-Pale-Blue);
}

.about-card-container img {
  width: 250px;
  margin-bottom: 2rem;
}

.info-wrapper h2 {
  font-size: 20px;
}

.info-wrapper p {
  font-size: 14px;
  color: var(--Grayish-Blue);
}

@media screen and (min-width: 1280px) {
  .about-card .about-card-container {
    flex-direction: row;
    text-align: left;
    max-width: 90%;
    justify-content: space-between;
    padding: 4rem 3rem;
  }

  .about-card-container:not(:nth-child(2)) {
    flex-flow: row-reverse;
  }

  .about-card img {
    width: 300px;
  }

  .info-wrapper {
    flex: 0.7;
  }

  .info-wrapper h2 {
    font-size: 1.75rem;
  }

  .info-wrapper p {
    font-size: 18px;
  }
}
